<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="description" content="">
    <link rel="stylesheet" href="">
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">OSA</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="/signin">SignIn <span class="sr-only">(current)</span></a>
        </li>

    </ul>
    </nav>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert">
    <strong>Message:</strong> {{message}} 
    <!-- <span aria-hidden="true">&times;</span> -->
    
    </div>
    {% endfor %}

    <div class="text-left">
      <br>

      <h1><b>SignUp</b></h1>

    </div>

    
    <div class="row d-flex justify-content-center">

    <div class='container mt-10'>
    <form action="/signup" method="post">

    {% csrf_token %}
      
      <div class="justify-content-between text-left">
      <div class=" col-sm-6 flex-column d-flex">


        <div class=" justify-content-between text-left">
        <label for="" class="form-control-label px-7" ><b>UserName</b></label>
        <input type="text" id="username" name="username" class="form-control"  placeholder="Enter UserName" Required>
        <br>
        </div>
        
        <div class=" justify-content-between text-left">
        <label for="" class="form-control-label px-7"><b>Email</b></label>
        <input type="email" id="email" name="email" class="form-control"  placeholder="Enter EmailId" Required><br>
        </div>


        <div class=" justify-content-between text-left">
        <label for="" class="form-control-label px-7"><b>First Name</b></label>
        <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Enter First Name" Required><br>
        </div>

        <div class=" justify-content-between text-left">
        <label for="" class="form-control-label px-7"><b>Last Name</b></label>
        <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Enter Last Name" Required><br>
        </div>

        <div class=" justify-content-between text-left">
        <label for="" class="form-control-label px-7"><b>Password</b></label>
        <input type="password" id="pass1" name="pass1" class="form-control" placeholder="Enter Password" Required><br>
        </div>

        <div class=" justify-content-between text-left">
        <label for="" class="form-control-label px-7"><b>Confirm Password</b></label>
        <input type="password" id="pass2" name="pass2" class="form-control" placeholder="Confirm Password" Required><br>
        </div>


        <button class='btn btn-primary' type="submit">Signup</button>

      </div>
      </div>
    


      
  
    </form>
    </div>
  </div>

	<script src="" async defer></script>
  </body>
</html>